<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>webCache</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.enjoyf.webcache.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<filter>
		<filter-name>gzipfilter</filter-name>
		<filter-class>com.enjoyf.webcache.filter.GzipFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>gzipfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>urlfilter</filter-name>
		<filter-class>com.enjoyf.webcache.filter.URLFilter</filter-class>
        <init-param>
            <param-name>excludedExts</param-name>
            <param-value>do,jsp,css,js,ico</param-value>
        </init-param>
	</filter>
	<filter-mapping>
		<filter-name>urlfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>sessioncheck</filter-name>
		<filter-class>com.enjoyf.webcache.filter.SessionCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessioncheck</filter-name>
		<url-pattern>/ac/*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/webcacheMVC-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>webcacheMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>webcacheMVC</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>