<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="icon" href="http://lib.joyme.com/static/img/favicon.ico" type="image/x-icon"/>
<link href="http://lib.joyme.com/static/theme/default/css/core.css" rel="stylesheet" type="text/css" />
<link href="http://marticle.joyme.com/css/joymemobile.css" rel="stylesheet" type="text/css" />
<title>{joyme:seo-title/}</title>
</head>
<body style="background:#f3f3f3">
	<div class="location">
        {joyme:archivelist-nav/}
    </div>
	<div class="catalogue">
		<ul>
	            {joyme:archivelist-loop}
					<li><a href="{joyme:archivelist-link/}">{joyme:archivelist-title/}</a></li>
				{/joyme:archivelist-loop}
		</ul>
		<ul>
			{joyme:archivelist-last-page/}&nbsp;&nbsp;&nbsp;&nbsp;
			{joyme:archivelist-next-page/}
		</ul>
	</div>
	<div class="copyright">本专题由着迷网提供，最全手游攻略，就在着迷网 <br>
			www.joyme.com </div>
    <script src="http://html.joyme.com/js/marticleGoogleAnalytics.js" language="javascript"></script>
	<script>
		(function (G,D,s,c,p) {
			c={//监测配置
				UA:"UA-joyme-000001", //客户项目编号,由系统生成
				NO_FLS:0,
				WITH_REF:1,
				URL:'http://webcache.joyme.com/js/iwt-min.js'
			};
			G._iwt?G._iwt.track(c,p):(G._iwtTQ=G._iwtTQ || []).push([c,p]),!G._iwtLoading && lo();
			function lo(t) {
				G._iwtLoading=1;s=D.createElement("script");s.src=c.URL;
				t=D.getElementsByTagName("script");t=t[t.length-1];
				t.parentNode.insertBefore(s,t);
			}
		})(this,document);
	</script>
</body>
</html>