@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?chi2i9');
    src:url('fonts/icomoon.eot?#iefixchi2i9') format('embedded-opentype'),
    url('fonts/icomoon.woff?chi2i9') format('woff'),
    url('fonts/icomoon.ttf?chi2i9') format('truetype'),
    url('fonts/icomoon.svg?chi2i9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{-webkit-tap-highlight-color:rgba(0,0,0,0); margin:0; padding:0;}
a{ text-decoration: none;}
img{font-size: 0; color: rgba(0,0,0,0); vertical-align: middle;}
ul{list-style: none;}

html{font-size:62.5%;}
body{font-size: 1rem; color: #000; font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
    content: "\f019";
}
.icon-folder-o:before {
    content: "\f114";
}
.icon-folder-open-o:before {
    content: "\f115";
}


/* 动画 */
@-webkit-keyframes anim1bold{0%,49.9%{-webkit-transform:translateY(-1px)}50%,100%{-webkit-transform:translateY(2px)}}
@-ms-keyframes anim1bold{0%,49.9%{-ms-transform:translateY(-1px)}50%,100%{-ms-transform:translateY(2px)}}

.icon-download{-webkit-animation: anim1bold .6s infinite linear;-ms-animation: anim1bold .6s infinite linear; margin-right:0.4rem}
.icon-folder-open-o{margin-right:0.4rem}

#wrapper{width: 100%;}

#header{margin: 0.6rem 0.6rem; overflow: hidden;}
.logo{float: left; overflow: hidden;}
#header img{width: 4rem; height: 4rem; display: inline-block;}
#header div{display: inline-block; vertical-align: top; padding-left: 0.4rem}
#header h2{font-size: 1.6rem; color: #1c1c1c; font-weight: bold; white-space: nowrap; padding-top: 0.2rem}
#header p{color: #929292; font-size: 1.2rem; padding-top: 0.2rem}
#openapp{float: right; height:4rem; line-height:4rem; background: #cc2a1e; color: #fff; padding: 0 1.4rem; font-size: 1.4rem; -webkit-border-radius:6px; border-radius: 6px}
#freedownload{float: right; height:4rem; line-height:4rem; background: #008fe0; color: #fff; padding: 0 1.4rem; font-size: 1.4rem; -webkit-border-radius:6px; border-radius: 6px}

.img-wrapper{position: relative}
.img-wrapper img{width: 100%}
.img-mask {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 25%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
}
.headline-title {
    font-size: 2rem;
    margin: 1rem;
    bottom: 1rem;
    z-index: 1;
    position: absolute;
    color: white;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

.article-wrapper{margin:2rem; font-size: 1.8rem; line-height: 2.6rem;}
.article-wrapper .author{display: block; color: #b4b4b4; padding-bottom: 0.4rem; font-size:1.8rem; line-height:1.4rem}
.article-wrapper .date{display: block; color: #000; font-size: 3rem; padding: 1rem 0; font-size:1.4rem; line-height:1.4rem}
.article-wrapper p{color:#000; font-size: 1.7rem; line-height: 2.7rem; text-align: justify; padding-bottom: 1rem}
.article-wrapper img{display:block; margin:0 auto; max-width:100%}
.game-download{overflow: hidden; margin: 1rem 0 2rem;}
.game-download img{float: left; width: 7rem; height: 7rem; -webkit-border-raidus:6px; border-radius: 6px;}
.game-download div{float: left; padding-left: 1rem;}
.game-download h2{font-size: 2rem; line-height: 2rem; padding: 0.4rem 0 0.8rem}
.game-download p{font-size: 1.4rem; color: #000; text-indent: 0; line-height: 2rem; padding: 0}
.game-download em{display:inline-block; font-style: normal; color: #e1e1e1; position: relative; margin-right: 0.6rem}
.game-download i{display:inline-block; font-style: normal; overflow: hidden; position: absolute; left: 0; top: 0; height: 100%; color: #ff0505}
.game-download .download{float: right; background: #0055c9; font-size: 1.6rem; color: #fff; padding: 0.6rem 1rem; margin-top: 1.8rem; -webkit-border-radius:6px; border-radius: 6px;}

.re-article h2{background: #e4e4e4; font-size:1.6rem; color: #000; padding: 0.4rem; font-weight: normal;}
.re-article ul{margin: 1rem;}
.re-article li{line-height: 2.8rem; font-size: 1.4rem}
.re-article a{display: block; color: #7f7f7f;}

.guide{background:url(../images/bg.png) repeat;}
.guide-box{max-width: 480px; margin:0 auto; padding-bottom:2rem}
.guide-box img{width: 100%}
.guide-btn{display: block; margin: 3rem 2rem 0; background:#02ad03; color: #fff; font-size: 2rem; padding: 1rem 0; text-align: center; -webkit-border-radius:10px; border-radius: 10px;}

@media screen and (min-width: 360px) {
    /*#header img{width: 6rem; height: 6rem}*/
    /*#freedownload, #openapp{margin-top: 1.5rem}
    #header h2{font-size:2.4rem; padding-top: 0.6rem}
    #header p{font-size: 1.8rem}*/
}